[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "*"
pillow = "*"
uvicorn = {extras = ["standard"], version = "*"}
fastapi = {extras = ["all"], version = "*"}

[dev-packages]

[requires]
python_version = "3.11"
